<Boot.Config xmlns="NWheels.Hosting" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">

  <Application>NWheels.Samples.BloggingPlatform</Application>
  <Node>Server</Node>
  <Environment>Local</Environment>
  <EnvironmentType>Dev</EnvironmentType>

  <FrameworkModules>
    <Module>
      <Assembly>NWheels.Stacks.OdataOwinWebapi.dll</Assembly>
    </Module>
    <Module>
      <Assembly>NWheels.Stacks.QuartzNet.dll</Assembly>
    </Module>
  </FrameworkModules>

  <ApplicationModules>
    <Module>
      <Assembly>NWheels.Samples.BloggingPlatform.dll</Assembly>
    </Module>
  </ApplicationModules>

  <ConfigFiles>
    <File>
      <Path>db.config</Path>
      <IsOptional>true</IsOptional>
    </File>
    <File>
      <Path>module.config</Path>
      <IsOptional>true</IsOptional>
    </File>
    <File>
      <Path>my.config</Path>
      <IsOptional>true</IsOptional>
    </File>
  </ConfigFiles>

</Boot.Config>
