<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="path.1" value="C:\Work\Repo\cfumm\git\source\Adstrix.Platform\Logs\ThreadLog" />
    <add key="path.2" value="C:\Temp\ThreadLog" />
    <add key="path.3" value="D:\Oss\NWheels\Source\Bin\Core\Logs" />
    <add key="path.4" value="D:\Work\AS\ummgit\source\Adstrix.Platform\Logs\ThreadLog" />
    <add key="path.5" value="D:\Work\AS\ummgit\source\Adstrix.Platform\Adstrix.Demo.WebApp\Logs\ThreadLog" />
  </appSettings>
</configuration>
