<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
	<Title>Separator line @ indent 1</Title>
	<Author>Felix</Author>
	<Shortcut>----</Shortcut>
	<Description>Separator line starting with 1 tab indent</Description>
	<SnippetTypes>
	  <SnippetType>Expansion</SnippetType>
	</SnippetTypes>
  </Header>
  <Snippet>
	<Code Language="CSharp"><![CDATA[//---------------------------------------------------------------------------------------------------------------------------------------------------------]]></Code>
  </Snippet>
</CodeSnippet>
