<NodeHostConfig xmlns="NWheels.Hosting" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <ApplicationName>NWheels Sample Blogging Platform</ApplicationName>
  <NodeName>App</NodeName>
  <FrameworkModules>
    <Module>
      <Assembly>NWheels.Puzzle.OdataOwinWebapi.dll</Assembly>
    </Module>
  </FrameworkModules>
  <ApplicationModules>
    <Module>
      <Assembly>..\Samples\RestService\NWheels.Samples.RestService.dll</Assembly>
      <!--Assembly>..\Samples\BloggingPlatform\NWheels.Samples.BloggingPlatform.dll</Assembly-->
    </Module>
  </ApplicationModules>
</NodeHostConfig>