body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	background-color:white;
}

.view_header { 
	position:fixed;
	height:75px; 
	z-index:100;
}

.header_params {
	padding:5px;
	font-size:11pt;
	color:#7DA0BD;
	background-color:white;
}

.marker {
	font-size:11pt;
	background-color:#FDE9A8; 
	padding:2px;
	border-radius:3px;
}

.view_body { position:absolute;top:106px; }

.col_message { width:600px; }
.body_cell.col_message { border-right:none; }
.col_ellipsis { width:23px; }
.col_timestamp { width:160px; text-align:right; font-size:9pt; }
.col_duration { width:100px;text-align:right; font-size:9pt;}
.col_counter { width:70px; }

.grid_row {
	margin:0;
	width:1350px;
}

.grid_row:hover {
	background-color:#FDE9A8;
}

.view_body .grid_row {
	border-bottom:1px solid #CED8E0;
}

.grid_cell {
	margin:0;
	padding:3px;
	border-right:1px solid #B7D2E8;
	overflow: hidden;
	float:left;
}

.grid_cell img { margin-bottom:3px; }

.grid_cell a, .full_details a { 
	cursor:pointer; 
}

.non_expandable { 
	padding-left:16px;
}

.header_cell {
	height:45px;
	background-color:#65A637;
	color:white;
	font-size: 10pt !important;
}

.body_cell {
	height:22px;
	white-space:nowrap;
}

.thread_node { background-color:#EAEAEA; }
.activity_node {	background-color:#F5F5F5;}
.level_debug { color:#9D9D9D;}
.level_verbose { color:#8C8C8C;}
.level_info { color:navy;}
.level_warning { color:#DE6900;}
.level_error { color:#B81E1E;}
.level_error.thread_node { font-weight:bold;}
.level_critical { color:red;font-weight:bold;}

.full_details { background-color:#FEF7E4; font-family:Consolas, "Courier New", Courier; font-size:9pt; border-right: 1px solid #B7D2E8; }
.full_details table { 
    margin-left: 20px;
    margin-top: 8px;
    border-spacing: 1px;
    border-collapse: separate !important;
    font-size: 9pt;
}
.full_details table td { 
	padding:3px;
	vertical-align: top;
}
.full_details table td.value { 
	background-color:#FDE9A8;
	border-radius:3px;
}
.full_details table td.value.error { 
	background-color:#FFBEBE
}

.full_details table td.value pre { 
	font-family:inherit !important;
	font-size:inherit !important;
	background-color: inherit !important;
	border:0;
	margin:0;
	padding:0;
}

.close_full_details { margin:0; padding:8px 3px 0 3px; }
.close_full_details img { margin:0;}

.view_selector {
	float:left;
	margin-right:5px;
}

.multiSelect > button{
	min-height:30px !important;
	min-width:100px;
}

.multiSelect .buttonLabel {
	padding:0;
}

.toggle-switch {
	height:29px;
	border-radius:4px;
	border-color:#bbb;
	margin-top:1px;
	font-variant: small-caps;
}

.toggle-switch .switch-left {
	color: #FDE9A8;
	font-weight:bold;
	background-color:#65A637;
}

.angular-ui-tree-empty {
	min-height:0px !important;
	border:none !important;
}

.label-thread {
	position: relative;
	bottom: 2px;
}
.label-info {
	background-color: #1473C7;
}
.label-inverse {
	background-color:black;
}
.label-environment {
	background-color: #C2C2C2;
	color: rgb(96, 96, 96);
}
.label-node {
	background-color: rgb(170, 155, 107);
	color: rgb(235, 238, 222);
}
.label-verbose {
	background-color: #C7C7C7;
}
