<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="FelixB.Hapil" version="0.9.10" targetFramework="net45" />
  <package id="FelixB.Hapil.Testing.NUnit" version="0.9.10" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net45" />
</packages>