<Boot.Config xmlns="NWheels.Hosting" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">

    <Application>MyHRApp</Application>
    <Node>WebApp</Node>
    <Environment>Local</Environment>
    <EnvironmentType>Dev</EnvironmentType>

    <FrameworkModules>
        <Module>
            <Assembly>NWheels.dll</Assembly>
            <Features>
                <Feature>
                    <LoaderClass>NWheels.Processing.ServiceBusFeatureLoader</LoaderClass>
                </Feature>
            </Features>
        </Module>
		<Module>
			<Assembly>NWheels.Domains.DevOps.dll</Assembly>
		</Module>
		<Module>
			<Assembly>NWheels.Stacks.MongoDb.dll</Assembly>
		</Module>
		<Module>
			<Assembly>NWheels.Stacks.AspNet.dll</Assembly>
		</Module>
		<Module>
			<Assembly>NWheels.Domains.Security.dll</Assembly>
		</Module>
	</FrameworkModules>

    <ApplicationModules>
        <Module>
            <Assembly>MyHRApp.dll</Assembly>
        </Module>
    </ApplicationModules>

    <IntegrationModules>
    </IntegrationModules>

    <ConfigFiles>
        <File>
            <Path>myhrapp.config</Path>
        </File>
    </ConfigFiles>

</Boot.Config>
