<?xml version="1.0" encoding="utf-8"?>
<CONFIGURATION>
    <ALWAYS comment="All configuration">

        <Framework.Logging
            level="Debug"
            threadLogPersistenceLevel="StartupShutdownErrors"
            threadLogDbConnectionString="server=localhost;database=MyHRApp_Logs"
            suppressDynamicArtifacts="false" 
        />

        <Framework.Database>
            <Contexts>
                <Context
                    name="HR"
                    contract="NWheels.Samples.MyHRApp.Domain.IHRContext, NWheels.Samples.MyHRApp"
                    connectionString="server=localhost;database=MyHRApp"
                    autoCreateDatabase="true" 
                    autoMigrateDatabase="true" 
                />
            </Contexts>
        </Framework.Database>

		<Framework.UI
            webContentRootPath="..\..\..\..\NWheels\Source\NWheels.Stacks.NancyFx\ClientSide\WebUI"
        />

	</ALWAYS>
</CONFIGURATION>
