<!DOCTYPE html>
<html ng-app="theApp" ng-controller="appStart">
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
HEAD, JS/CSS LINKS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title ng-bind="translate(app.text) + ' | ' + translate(currentScreen.text)">LOADING . . .</title>
    <base href="##BASE_URL##" />

    <link href="skin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="skin/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="skin/assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    
    <!--script src="assets/plugins/datajs-1.1.1/datajs-1.1.1.js"></script-->
    
    <link href="skin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="skin/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <link href="skin/assets/css/animate.css" rel="stylesheet">
    <link href="skin/assets/css/style.css" rel="stylesheet">

    <!-- Data Tables -->
    <link href="skin/assets/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="skin/assets/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <style>
        @media (min-width: 768px) {
            .b-col {
                float: right;
            }
        }
    </style>
</head>

<body>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    PAGE BODY
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <div id="wrapper" ng-if="app">
        <uidl-screen ng-if="currentScreen" uidl="currentScreen"></uidl-screen>
    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL SCREEN
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-screen">
        <uidl-widget uidl="uidl.contentRoot"></uidl-widget>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL SCREEN PART
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-screen-part">
        <uidl-widget uidl="uidl.contentRoot"></uidl-widget>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL USER ALERT - INLINE
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-user-alert-inline">
        <div ng-show="alert" class="inline-alert clearfix">
            {{translate(alert.uidl.type)}} : {{translate(alert.uidl.text)}}
            <button ng-click="alert.answer('Cancel')" style="float:right;">x</button>
            <div ng-show="alert.uidl.resutChoices.length">
                <button ng-repeat="choice in alert.uidl.resultChoices"
                        ng-click="alert.answer(choice)">
                    {{choice}}
                </button>
            </div>
        </div>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - SPLASH
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Splash">
        <uidl-widget uidl="uidl.insideContent"></uidl-widget>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - USER LOGIN FORM
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/UserLoginForm">
        <div class="middle-box text-center loginscreen   animated fadeInDown">
            <div>
                <div>
                    <h1 class="logo-name">AFP</h1>
                </div>
                <h2>Sign In</h2>
                <p ng-if="model.state.loginFault!='PasswordExpired'">Log in to your account.</p>
                <form class="m-t" role="form" ng-if="model.state.loginFault!='PasswordExpired'">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name" required="" ng-model="model.data.loginName" >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="" ng-model="model.data.password" >
                    </div>
                    <button class="btn btn-primary block full-width m-b" ng-click="$emit(uidl.qualifiedName + ':LogIn:Executing')">{{translate('Login')}}</button>
                </form>
                <p ng-if="model.state.loginFault=='PasswordExpired'">Please change your password.</p>
                <form class="m-t" role="form" ng-if="model.state.loginFault=='PasswordExpired'">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name" required="" ng-model="model.data.loginName" >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Current Password" required="" ng-model="model.data.password" >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" required="" ng-model="model.data.newPassword" >
                    </div>
                    <button class="btn btn-primary block full-width m-b" ng-click="$emit(uidl.qualifiedName + ':ChangePassword:Executing')">Change Password</button>
                </form>
                <p class="m-t"> <small>Powered by BitWize</small> </p>
            </div>
        </div>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - CURRENT LOGGED-IN USER
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/CurrentLoggedInUser">
        <a href="" ng-click="$emit(uidl.qualifiedName + ':LogOut:Executing')">
            <i class="fa fa-sign-out"></i> {{translate('LogOut')}}
        </a>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - MANAGEMENT CONSOLE
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/ManagementConsole">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header" style="padding-top:45px;padding-bottom:100px;">
                        <div class="dropdown profile-element"> 
                            <span>
                                <!--img alt="image" class="img-circle" src="img/profile_small.jpg" /-->
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{appScope.model.state.user.fullName}}</strong>
                                 </span> <span class="text-muted text-xs block">{{appScope.model.state.user.userRoles[0]}} <!--b class="caret"></b--></span> </span> 
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li ng-repeat="item in uidl.mainMenu.items" ng-include="'uidl-element-template/ManagementConsole-menu-item'"></li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top gray-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>                        
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <!--input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"-->
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <h3 class="text-muted welcome-message" style="padding: 20px 10px 20px 10px;margin:0;">{{::translate(appScope.uidl.text)}}</h3>
                        </li>
                        <!--li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46h ago</small>
                                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">5h ago</small>
                                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/profile.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right">23h ago</small>
                                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li-->
                        <!--li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small">12 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="grid_options.html">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li-->                        
                        <li ng-repeat="widget in uidl.statusBar.containedWidgets">
                            <uidl-widget uidl="widget"></uidl-widget>
                        </li>
                     </ul>
                </nav>  
            </div>
            <div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom:15px;margin-bottom:15px;">
                <div class="col-lg-10">
                    <h2>{{translate(mainContentScreenPart.text)}}</h2>
                    <ol class="breadcrumb">
                        <li><a href="##BASE_URL##">Home</a></li>
                        <li class="active"><strong>{{translate(mainContentScreenPart.text)}}</strong></li>
                    </ol>
                </div>
            </div>            
            <div class="wrapper wrapper-content  animated fadeInRight">
                <uidl-widget uidl="uidl.mainContent"></uidl-widget>
            </div>
        </div>
        <uidl-user-alert-inline alert="userAlert"></uidl-user-alert-inline>
    </script>
    <script type="text/javascript">
        function initWidget_ManagementConsole(){
            $('#side-menu').metisMenu();
        }
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - MANAGEMENT CONSOLE MENU ITEM
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/ManagementConsole-menu-item">
        <a ng-class="{bold: item.level==0}" ng-show="item.subItems.length==0" href="#" ng-click="$emit(item.notifications[1].qualifiedName)"><i ng-if="item.icon" style="width:19px;" class="fa fa-{{::item.icon}}"></i>{{::translate(item.text)}}</a>
        <a href="#" ng-show="item.subItems.length > 0">
            <i ng-if="item.icon" style="width:16px;" class="fa fa-{{::item.icon}}"></i>
            <span class="nav-label" ng-class="{bold: item.level==0}">{{::translate(item.text)}}</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li ng-repeat="item in item.subItems" ng-include="'uidl-element-template/ManagementConsole-menu-item'"></li>
        </ul>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - CONTAINER
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Container">
        <uidl-widget ng-repeat="widget in uidl.containedWidgets" uidl="widget"></uidl-widget>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - SCREEN PART CONTAINER
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/ScreenPartContainer">
        <uidl-user-alert-inline alert="userAlert"></uidl-user-alert-inline>
        <uidl-screen-part ng-if="currentScreenPart" uidl="currentScreenPart"></uidl-screen-part>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - TEXT
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Text">
        {{translate(uidl.text)}}
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - GAUGE
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Gauge">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{translate(uidl.badgeText)}}</span>
                <h5>{{translate(uidl.text)}}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{model.state.data[uidl.valueDataProperty] | number}}</h1>
                <!--div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div-->
                <small>{{translate(uidl.values[0].label)}}</small>
            </div>
        </div>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - CRUD
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Crud">
        <div class="row">
            <div ng-hide="uiShowCrudForm" class="col-lg-12">
                <div class="ibox-title">
                    <button class="btn btn-primary btn-circle btn-lg btn-outline" style="margin-right:5px" type="button" ng-click="newEntity();" title="Add New">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-success btn-circle btn-lg btn-outline" style="margin-right:5px" type="button" ng-click="editEntity(selectedEntity)" title="Edit Selected">
                        <i class="fa fa-edit"></i>
                    </button>
                    <!--button class="btn btn-danger btn-circle btn-lg btn-outline" style="margin-right:5px" type="button" ng-click="deleteEntity(selectedEntity)" title="Delete Selected">
                        <i class="fa fa-times"></i>
                    </button-->
                    <button class="btn btn-default btn-circle btn-lg btn-outline" style="margin-right:5px" type="button" ng-click="refresh()" title="Refresh">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
                <div class="ibox-content">
                    <uidl-widget uidl="uidl.grid" parent-model="model"></uidl-widget>
                </div>
            </div>
            
            <div ng-show="uiShowCrudForm" class="col-lg-12">
                <div class="ibox-title">
                    <h2 class="clearfix">
                        <i class="fa text-muted" ng-class="{'fa-asterisk':model.isNew, 'fa-edit':!model.isNew}"></i>
                        &nbsp;{{translate(uidl.entityName)}}
                    </h2>
                </div>
                <div class="ibox-content">
                    <uidl-widget ng-if="uidl.form" uidl="uidl.form"></uidl-widget>
                    <uidl-widget ng-if="uidl.formTypeSelector" uidl="uidl.formTypeSelector" parent-model="model"></uidl-widget>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        function initWidget_Crud($scope) {
            //...
        }
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - DATA GRID
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/DataGrid">
        <div class="jqGrid_wrapper">
            <table id="rdt_{{uniqueWidgetId}}"></table>
            <div id="rdtpager_{{uniqueWidgetId}}"></div>
        </div>
    </script>
    <script type="text/javascript">
        // Examle data for jqGrid

        function initWidget_DataGrid($scope) {
            $scope.$on($scope.uidl.qualifiedName + ':DataReceived', function (event, data) {
                $scope.ResultSet = data;
                $scope.$timeout(function () {
                    $('#rdt_' + $scope.uniqueWidgetId).jqGrid('GridUnload');

                    var columnsModel = [];

                    $scope.displayProperties.forEach(function (displayPropery, idx) {
                        var jsonPropertyName = ($scope.uidl.usePascalCase === true ? displayPropery.name : toCamelCase(displayPropery.name));
                        columnsModel.push({
                            name: jsonPropertyName,
                            label: $scope.translate(displayPropery.name),
                            index: displayPropery.name,
                            editable: false,
                            width: 180,
                            sorttype: displayPropery.dataType,
                            search: true
                        });
                    });

                    $("#rdt_" + $scope.uniqueWidgetId).jqGrid({
                        datatype: 'local',
                        height: 250,
                        shrinkToFit: false,
                        width: null,
                        rowNum: 10,
                        rowList: [10, 20, 30],
                        colModel: columnsModel,
                        pager: "#rdtpager_" + $scope.uniqueWidgetId,
                        viewrecords: true,
                        add: false,
                        edit: false,
                        hidegrid: false,
                        onSelectRow: function (rowId) {
                            $scope.$emit($scope.uidl.qualifiedName + ':ObjectSelectedByIndex', rowId - 1);
                            //var grid = $(this);
                            //var rowData = grid.jqGrid('getRowData', rowId);
                            //$scope.$emit($scope.uidl.qualifiedName + ':EntitySelectedById', rowData.Id);
                        }
                    });

                    var thegrid = $("#rdt_" + $scope.uniqueWidgetId);
                    thegrid[0].addJSONData(data);
                });
            });
        }

    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - LOOKUP GRID
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/LookupGrid">
        <div class="jqGrid_wrapper">
            <table id="rdt_{{uniqueWidgetId}}"></table>
            <div id="rdtpager_{{uniqueWidgetId}}"></div>
        </div>
    </script>
    <script type="text/javascript">
        function initWidget_LookupGrid($scope) {
            $scope.$on($scope.uidl.qualifiedName + ':DataReceived', function (event, data) {
                $scope.ResultSet = data;
                $scope.$timeout(function () {
                    $('#rdt_' + $scope.uniqueWidgetId).jqGrid('GridUnload');

                    var columnsModel = [];

                    columnsModel.push({
                        name: "isChecked",
                        label: "Select",
                        formatter: "checkbox",
                        formatoptions: { disabled: false },
                        edittype: "checkbox",
                        width: 80
                    });

                    $scope.displayProperties.forEach(function (displayPropery, idx) {
                        var jsonPropertyName = ($scope.uidl.usePascalCase === true ? displayPropery.name : toCamelCase(displayPropery.name));
                        columnsModel.push({
                            name: jsonPropertyName,
                            label: $scope.translate(displayPropery.name),
                            index: displayPropery.name,
                            editable: false,
                            width: 180,
                            sorttype: displayPropery.dataType,
                            search: true
                        });
                    });

                    $("#rdt_" + $scope.uniqueWidgetId).jqGrid({
                        datatype: 'local',
                        height: 150,
                        shrinkToFit: false,
                        width: null,
                        rowNum: 10,
                        rowList: [10, 20, 30],
                        colModel: columnsModel,
                        pager: "#rdtpager_" + $scope.uniqueWidgetId,
                        viewrecords: true,
                        add: false,
                        edit: false,
                        hidegrid: false,
                    });

                    var thegrid = $("#rdt_" + $scope.uniqueWidgetId);
                    thegrid[0].addJSONData(data);

                    var rows = thegrid[0].rows;
                    var rowCount = rows.length;
                    for (var i = 1; i < rowCount; i++) {
                        $(rows[i].cells[0]).click(function (e) {
                            var id = $(e.target).closest('tr')[0].id;
                            var isChecked = $(e.target).is(':checked');
                            $scope.updateCheckboxModel(id - 1, isChecked);
                        });
                    }
                });
            });
        }
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - FORM
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Form">
        <form class="form-horizontal">
            <div class="form-group" style="margin-bottom:0px;" ng-repeat="field in plainFields">
                <label class="col-lg-2 control-label">{{::translate(field.propertyName)}}</label>
                <div class="col-lg-4">
                    <uidl-form-field uidl="field" entity="model.data.entity" />
                    <!--span class="help-block m-b-none">Example block-level help text here.</span-->
                </div>
            </div>
            <div ng-if="tabSetFields.length" class="tabs-container" style="margin-top:20px;">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: $index == tabSetIndex}" ng-repeat="field in tabSetFields"><a ng-click="selectTab($index)">{{translate(field.propertyName)}}</a></li>
                </ul>
                <div class="tab-content">
                    <div ng-repeat="field in tabSetFields" ng-class="{'tab-pane': true, active: $index == tabSetIndex}" ng-show="$index == tabSetIndex">
                        <uidl-widget ng-if="field.nestedWidget" uidl="field.nestedWidget" parent-uidl="field" parent-model="model.data.entity"></uidl-widget>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"></label>
                <div class="col-lg-4 clearfix">
                    <button ng-repeat="command in uidl.commands | reverse"
                            type="button"
                            class="btn btn-rounded btn-lg pull-right"
                            style="margin-right:5px;"
                            ng-disabled="commandInProgress"
                            ng-class="{'btn-success':command.severity=='Read','btn-primary':command.severity=='Change','btn-warning':command.severity=='Loose','btn-danger':command.severity=='Destroy'}"
                            ng-click="invokeCommand(command.qualifiedName)"><i ng-if="command.icon" class="fa fa-{{::command.icon}}">&nbsp;</i>{{::translate(command.text)}}</button>
                </div>
            </div>
        </form>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - FORM FIELD
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/FormField">
        <div>
            <!-- LABEL -->
            <input ng-if="uidl.fieldType==='Label'" disabled="" class="form-control m-b" type="text" ng-model="entity[uidl.propertyName]">
            <!-- CHECKBOX -->
            <div ng-if="uidl.fieldType==='Edit' && uidl.modifiers==='Checkbox'" class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" ng-model="entity[uidl.propertyName]" id="{{::uniqueFieldId}}">
                <label class="onoffswitch-label" for="{{::uniqueFieldId}}" style="margin: 5px 0px 5px 0px;">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <!-- TEXT -->
            <input ng-if="uidl.fieldType==='Edit' && uidl.modifiers==='None'" class="form-control m-b" type="text" ng-model="entity[uidl.propertyName]"></input>
            <!-- DROP DOWN -->
            <select ng-if="uidl.fieldType==='Lookup'" class="form-control m-b" ng-options="item[lookupValueProperty] as item[lookupTextProperty] for item in lookupResultSet" ng-model="entity[lookupForeignKeyProperty]">
                <!--option value="">All</option-->
            </select>
        </div>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - CHAT
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Chat">
        <div>Message 1 . . . </div>
        <div>Message 2 . . . </div>
        <div>Message 3 . . . </div>
        <textarea></textarea>
        <button>Send</button>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - CHART
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Chart">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <h3 class="font-bold no-margins">
                        Current Revenue
                    </h3>
                    <small>Sales marketing.</small>
                </div>

                <div class="m-t-sm">
                    <div class="row" ng-controller="chartJsController">
                        <div class="col-md-8">
                            <div>
                                <canvas id="{{uidl.qualifiedName}}_context" height="114"></canvas>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="stat-list m-t-lg">
                                <li ng-repeat="sum in lineData.summaries">
                                    <h2 class="no-margins">{{ sum.value | currency}}</h2>
                                    <small>{{ sum.label }}</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 48%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <table>
                                        <tbody>
                                            <tr ng-repeat="legend in lineData.datasets">
                                                <td class="legendColorBox">
                                                    <div style="border:1px solid #ccc;padding:1px">
                                                        <div style="width:4px;height:0;border:5px solid {{ legend.fillColor }};overflow:hidden"></div>
                                                    </div>
                                                </td>
                                                <td class="legendLabel">{{ legend.label }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        <!--Update on 16.07.2015-->
                    </small>
                    <small>
                        <!--<strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.-->
                    </small>
                </div>

            </div>
        </div>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - POINT CHART
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/PointChart">   
        <table ng-if="model.state.data" border="1" style="margin-top: 10px; background: white" cellpadding="3" cellspacing="1">
            <tr>
                <td>&nbsp;</td>
                <td>{{model.state.data.series[0].label}}</td>
                <td>{{model.state.data.series[1].label}}</td>
            </tr>
            <tr ng-repeat="label in model.state.data.labels track by $index">
                <td>{{label}}</td>
                <td>{{model.state.data.series[0].values[$index]}}</td>
                <td>{{model.state.data.series[1].values[$index]}}</td>
            </tr>
        </table>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - TYPE SELECTOR
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/TypeSelector">
        <form class="form-horizontal">
            <div class="form-group" style="margin-top:20px; margin-bottom:0px;">
                <label class="col-lg-2 control-label">Type</label>
                <div class="col-lg-4">
                    <select ng-options="s.typeName as s.text for s in uidl.selections" ng-model="selectedType" ng-change="selectedTypeChanged(selectedType)" class="form-control m-b"></select>
                </div>
            </div>
        </form>
        <uidl-widget ng-repeat="selection in uidl.selections" ng-if="selectedType==selection.typeName" uidl="selection.widget" parent-model="model.entity"></uidl-widget>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - TYPE SELECTOR WITH TABS
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/TypeSelectorWithTabs">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active: $index == 0}" ng-repeat="selection in uidl.selections"><a data-toggle="tab" href="#tab-{{ $index }}">{{ selection.text }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div ng-repeat="selection in uidl.selections" id="tab-{{ $index }}" ng-class="{'tab-pane': true, active: $index == 0}">
                            <uidl-widget uidl="selection.widget"></uidl-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>	

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - FILTER FORM
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/FilterForm">
        <div class="panel-body" id="filterForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2" ng-repeat="field in uidl.fields">
                        <label class="control-label">{{ field.propertyName }}</label>
                        <uidl-form-field uidl="field" entity="parentModel.entity" />
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="ibox-tools"><button id="mediaSearch" type="button" class="btn btn-primary" ng-click="executeSearch()">Search123</button></div>
                </div>
            </div>
        </div>
    </script>	

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - REPORT
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Report">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <uidl-widget uidl="uidl.criteriaForm"></uidl-widget>
                <uidl-widget uidl="uidl.resultTable"></uidl-widget>
            </div>
        </div>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - CHART REPORT
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/ChartReport">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <uidl-widget uidl="uidl.criteriaForm"></uidl-widget>
                <uidl-widget uidl="uidl.resultChart"></uidl-widget>
            </div>
        </div>
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - DASHBOARD
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/Dashboard">
        <div class="row">
            <div class="col-lg-2" ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Gauge'" style="vertical-align:top;">
                <uidl-widget uidl="widget"></uidl-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8" ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Chart'" style="vertical-align:top;">
                <uidl-widget uidl="widget"></uidl-widget>
            </div>
            <div class="col-lg-4" ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Chat'" style="vertical-align:top;">
                <uidl-widget uidl="widget"></uidl-widget>
            </div>
        </div>
        <div class="row">
            <!--div class="col-lg-12" ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Report'" style="vertical-align:top;">
                <uidl-widget uidl="widget"></uidl-widget>
            </div-->
        </div>
    </script>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    UIDL WIDGET - GRID FIELD
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script type="text/ng-template" id="uidl-element-template/GridField">
        <div class="layout">
            <span ng-if="property.kind!=='Relation'">{{value}}</span>
            <a ng-if="property.kind==='Relation'">Go to</a>
        </div>
    </script>
    
    
    <!------ HARD CODED  -------->
    
    <script type="text/ng-template" id="uidl-element-template/AffiliateSignUpForm">
        <div class="middle-box text-center loginscreen   animated fadeInDown">
            <div>
                <div>
                    <h1 class="logo-name">AFP</h1>
                </div>
                <h2>Sign Up</h2>
                <p>Apply for an affiliate account.</p>
                <form class="m-t" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name" required="" ng-model="model.data.fullName" >
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="" ng-model="model.data.emailAddress" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone Number" required="" ng-model="model.data.phoneNumber" >
                    </div>
                    <!--div class="form-group">
                            <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                    </div-->
                    <button class="btn btn-primary block full-width m-b" ng-click="$emit(uidl.qualifiedName + ':SignUp:Executing')">Apply</button>

                    <!--p class="text-muted text-center"><small>Already have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="login.html">Login</a-->
                </form>
                <p class="m-t"> <small>Powered by BitWize</small> </p>
            </div>
        </div>
    </script>



    <!--script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');

            }, 1300);


            var data1 = [
                [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,30],[11,10],[12,13],[13,4],[14,3],[15,3],[16,6]
            ];
            var data2 = [
                [0,1],[1,0],[2,2],[3,0],[4,1],[5,3],[6,1],[7,5],[8,2],[9,3],[10,2],[11,1],[12,0],[13,2],[14,8],[15,0],[16,0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                    {
                        series: {
                            lines: {
                                show: false,
                                fill: true
                            },
                            splines: {
                                show: true,
                                tension: 0.4,
                                lineWidth: 1,
                                fill: 0.4
                            },
                            points: {
                                radius: 0,
                                show: true
                            },
                            shadowSize: 2
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#d5d5d5",
                            borderWidth: 1,
                            color: '#d5d5d5'
                        },
                        colors: ["#1ab394", "#1C84C6"],
                        xaxis:{
                        },
                        yaxis: {
                            ticks: 4
                        },
                        tooltip: false
                    }
            );

            var doughnutData = [
                {
                    value: 300,
                    color: "#a3e1d4",
                    highlight: "#1ab394",
                    label: "App"
                },
                {
                    value: 50,
                    color: "#dedede",
                    highlight: "#1ab394",
                    label: "Software"
                },
                {
                    value: 100,
                    color: "#A4CEE8",
                    highlight: "#1ab394",
                    label: "Laptop"
                }
            ];

            var doughnutOptions = {
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 2,
                percentageInnerCutout: 45, // This is 0 for Pie charts
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false
            };

            var ctx = document.getElementById("doughnutChart").getContext("2d");
            var DoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

            var polarData = [
                {
                    value: 300,
                    color: "#a3e1d4",
                    highlight: "#1ab394",
                    label: "App"
                },
                {
                    value: 140,
                    color: "#dedede",
                    highlight: "#1ab394",
                    label: "Software"
                },
                {
                    value: 200,
                    color: "#A4CEE8",
                    highlight: "#1ab394",
                    label: "Laptop"
                }
            ];

            var polarOptions = {
                scaleShowLabelBackdrop: true,
                scaleBackdropColor: "rgba(255,255,255,0.75)",
                scaleBeginAtZero: true,
                scaleBackdropPaddingY: 1,
                scaleBackdropPaddingX: 1,
                scaleShowLine: true,
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 2,
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false
            };
            var ctx = document.getElementById("polarChart").getContext("2d");
            var Polarchart = new Chart(ctx).PolarArea(polarData, polarOptions);

        });
    </script-->
    
    <script src="skin/assets/js/jquery-2.1.1.js"></script>
    <script src="skin/assets/js/bootstrap.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="skin/assets/js/inspinia.js"></script>
    <script src="skin/assets/js/plugins/pace/pace.min.js"></script>
    <script src="skin/assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    
    <!-- Chosen -->
    <script src="skin/assets/js/plugins/chosen/chosen.jquery.js"></script>

   <!-- JSKnob -->
   <script src="skin/assets/js/plugins/jsKnob/jquery.knob.js"></script>

   <!-- Input Mask-->
    <script src="skin/assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>

   <!-- Data picker -->
   <script src="skin/assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>

   <!-- NouSlider -->
   <script src="skin/assets/js/plugins/nouslider/jquery.nouislider.min.js"></script>

   <!-- Switchery -->
   <script src="skin/assets/js/plugins/switchery/switchery.js"></script>

    <!-- IonRangeSlider -->
    <script src="skin/assets/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>

    <!-- iCheck -->
    <script src="skin/assets/js/plugins/iCheck/icheck.min.js"></script>

    <!-- MENU -->
    <script src="skin/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Color picker -->
    <script src="skin/assets/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

    <!-- Clock picker -->
    <script src="skin/assets/js/plugins/clockpicker/clockpicker.js"></script>

    <!-- Image cropper -->
    <script src="skin/assets/js/plugins/cropper/cropper.min.js"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="skin/assets/js/plugins/fullcalendar/moment.min.js"></script>

    <!-- Date range picker -->
    <script src="skin/assets/js/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Select2 -->
    <script src="skin/assets/js/plugins/select2/select2.full.min.js"></script>

    <!-- jqGrid -->
    <script src="skin/assets/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="skin/assets/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>

    <!-- Gritter -->
    <link href="skin/assets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    
    <!-- Data Tables -->
    <script src="skin/assets/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="skin/assets/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="skin/assets/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="skin/assets/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    
    <script src="skin/assets/app/angular-1.3.16/angular.min.js"></script>
    <script src="skin/assets/js/plugins/chartJs/Chart.min.js"></script>
    <script src="skin/assets/app/linqjs-2.2.0.2/linq.min.js"></script>
    <script src="skin/assets/app/breeze/breeze.debug.js"></script>
    <script src="skin/assets/app/breeze/breeze.bridge.angular.js"></script>
    <script src="skin/assets/app/toastr/toastr.js"></script>
    <script src="skin/assets/app/breeze/breeze.savequeuing.js"></script>

    <script src="base/app.js"></script>
    <script src="base/entity.js"></script>
    <script src="skin/assets/app/chartjs/chart.js"></script>

</body>
</html>
