<Boot.Config xmlns="NWheels.Hosting" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">

  <Application>Samples.SimpleChat</Application>
  <Node>ChatServer</Node>
  <Environment>Local</Environment>
  <EnvironmentType>Dev</EnvironmentType>

  <FrameworkModules>
    <Module>
      <Assembly>NWheels.dll</Assembly>
    </Module>
  </FrameworkModules>

  <ApplicationModules>
	  <Module>
		  <Assembly>NWheels.Samples.SimpleChat.Server.dll</Assembly>
	  </Module>
  </ApplicationModules>

  <IntegrationModules>
  </IntegrationModules>

  <ConfigFiles>
  </ConfigFiles>

</Boot.Config>
