<!DOCTYPE html>
<html ng-app="theApp" ng-controller="appStart">
    <head>
        <meta charset="utf-8" />
        <title ng-bind="translate(app.text) + ' | ' + translate(currentScreen.text)">LOADING . . .</title>
        <base href="##BASE_URL##" />
        
        <script src="skin/angular-1.3.16/angular.min.js"></script>
        <script src="skin/linqjs-2.2.0.2/linq.min.js"></script>
                          
        <script src="skin/breeze/breeze.debug.js"></script>
        <script src="skin/breeze/breeze.bridge.angular.js"></script>
        <script src="skin/jquery-1.8.3/jquery-1.8.3.min.js"></script>
        <script src="skin/toastr/toastr.js"></script>
        <script src="skin/breeze/breeze.savequeuing.js"></script>
        <!--script src="assets/plugins/datajs-1.1.1/datajs-1.1.1.js"></script-->
        
        <script src="base/app.js"></script>
        
        <style>
            body, button, input, select { font-family: Consolas; font-size: 14pt; padding:0px; margin:0px; }
            div.border { padding : 10px; margin : 10px; border : 2px solid black; }
            div.content-example { padding : 10px; margin : 10px; border : 2px solid #e0e0e0; background-color: #e0e0e0; }
            div.inline-alert { padding : 5px; margin : 5px 10px 5px 10px; border : none; background-color: yellow; }
            div.layout { padding : 0; margin : 0; border : none; }
            div.flow { float: left; }
            
            td.tabSet { background-color: #e0e0e0; padding:10px 0px 5px 0px !important; } 
            div.tab { float: left; background-color: black;color:lightgray;padding:10px;margin:7px 2px 0 0; height:23px; cursor:pointer;}
            div.tab:hover { color:white; }
            div.tab.selected { background-color: white; color:black; margin:0px 2px 0 0;height:30px;}
            div.tabContent { background-color: white; margin:0; padding: 10px; clear:left; }
            
            .clearfix { overflow: auto; zoom: 1; } 
            .bold { font-weight:bold; } 
            table.data { margin:5px;border-collapse: separate; border-spacing: 2px; }
            table.data th, table.data td { font-weight:normal;  padding:5px;  }
            table.data th { background-color:black; color:white;font-size: 12pt;}
            table.data td { font-size: 11pt; height:24px;}
            table.data tbody tr { background-color: white; }
            table.data tbody tr:hover { background-color: #f0f0f0; cursor:pointer; }

            table.dataForm { margin:5px;border-collapse: collapse; border-spacing: 3px;min-width: 500px; }
            table.dataForm th, table.dataForm td { font-weight:normal;  padding:10px 15px 10px 15px;  }
            table.dataForm th { background-color:black; color:white;font-size: 12pt;}
            table.dataForm td { font-size: 11pt; height:24px;}
            table.dataForm tbody tr { background-color: white; }
            table.dataForm tbody tr:hover { background-color: #f9f9f9; cursor:pointer; }
            .dataForm input { font-size: 11pt; }

            button.dataForm { margin: 5px 0px 5px 0px; padding:5px 10px 5px 10px; }

            .danger { color:yellow;background-color:red;cursor:default; }
            .danger a { color:yellow; }
            .danger a:hover { color:white; font-weight:bold;font-size: 12pt; text-decoration:none;}

            div.debugArea { padding : 10px; margin : 10px; background-color: #e0e0e0; font-size: 10pt; }
        </style>
    </head>                                     

    <body>

        <div class="layout" ng-if="app">
            <div class="layout">
                <uidl-screen ng-if="currentScreen" uidl="currentScreen"></uidl-screen>
            </div>
        </div>
        
        <div class="debugArea">
                <a href="" ng-hide="uiShowEntityCache" ng-click="entityService.showLocalStateDump('preLocalCacheDump');uiShowEntityCache=true">Show Entity Cache</a>
                <a href="" ng-show="uiShowEntityCache" ng-click="uiShowEntityCache=false">Hide Entity Cache</a>
                |
                <a href="" ng-click="commandService.startPollingMessages();">Start Polling Messages</a>
                |
                <a href="" ng-click="commandService.stopPollingMessages();">Stop Polling Messages</a>
                |
                <a href="" ng-click="commandService.receiveMessages();">Receive Messages</a>

                <div ng-show="uiShowEntityCache">
                    <pre id="preLocalCacheDump" ></pre>
                </div>
        </div>

        <script type="text/ng-template" id="uidl-screen">
            <div class="border">
                SCREEN[{{uidl.text}}]
                <uidl-widget uidl="uidl.contentRoot"></uidl-widget>
            </div>
        </script>
        
        <script type="text/ng-template" id="uidl-screen-part">
            <div class="border">
                SCREEN-PART[{{uidl.text}}]
                <uidl-widget uidl="uidl.contentRoot"></uidl-widget>
            </div>
        </script>
        
        <script type="text/ng-template" id="uidl-user-alert-inline">
            <div ng-show="alert" class="inline-alert clearfix">
                {{translate(alert.uidl.type)}} : {{translate(alert.uidl.text)}}
                <button ng-click="alert.answer('Cancel')" style="float:right;">x</button>
                <div ng-show="alert.uidl.resutChoices.length">
                    <button 
                        ng-repeat="choice in alert.uidl.resultChoices"
                        ng-click="alert.answer(choice)">{{choice}}</button>
                </div>
            </div>
        </script>
        
        <script type="text/ng-template" id="uidl-element-template-Splash">
            <div class="border">
                WIDGET[{{uidl.text}}]
                <uidl-user-alert-inline alert="userAlert"></uidl-user-alert-inline>
                <div class="content-example">{{translate('SplashImageGoesHere')}}...
                   <!--div data-ng-show="showing" data-ng-init="showing=true"  data-ng-click="showing=!showing">hello</div-->
                </div>
                <uidl-widget uidl="uidl.insideContent"></uidl-widget>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-UserLoginForm">
            <div class="border">
                WIDGET[{{uidl.text}}]
                <uidl-user-alert-inline alert="userAlert"></uidl-user-alert-inline>
                {{model.state.loginFault}}
                <div class="content-example" ng-if="model.state.loginFault!='PasswordExpired'">
                    <label style="display:inline-block;width:140px">{{translate('loginName')}}</label>
                    <input ng-model="model.data.loginName" type=text id="{{uidl.qualifiedName}}_login" placeholder="{{translate('enterLoginName')}}" /><br />
                
                    <label style="display:inline-block;width:140px">{{translate('password')}}</label>
                    <input ng-model="model.data.password" type=password id="{{uidl.qualifiedName}}_password" placeholder="{{translate('enterPassword')}}" /><br />
                    
                    <label style="display:inline-block;width:140px">&nbsp;</label>
                    <button ng-click="$emit(uidl.qualifiedName + ':LogIn:Executing')">{{translate('Login')}}</button><br />
                    
                    <label style="display:inline-block;width:140px">&nbsp;</label>
                    <input ng-model="model.state.rememberMe" type=checkbox />
                    <label>{{translate('RememberMe')}}</label>
                </div>
                <div class="content-example" ng-if="model.state.loginFault=='PasswordExpired'">
                    <label style="display:inline-block;width:140px">{{translate('loginName')}}</label>
                    <input ng-model="model.data.loginName" type=text id="{{uidl.qualifiedName}}_login" placeholder="{{translate('enterLoginName')}}" /><br />
                
                    <label style="display:inline-block;width:140px">{{translate('currentPassword')}}</label>
                    <input ng-model="model.data.password" type=password id="{{uidl.qualifiedName}}_password" placeholder="{{translate('enterCurrentPassword')}}" /><br />

                    <label style="display:inline-block;width:140px">{{translate('newPassword')}}</label>
                    <input ng-model="model.data.newPassword" type=password id="{{uidl.qualifiedName}}_newPassword" placeholder="{{translate('enterNewPassword')}}" /><br />
                    
                    <label style="display:inline-block;width:140px">&nbsp;</label>
                    <button ng-click="$emit(uidl.qualifiedName + ':ChangePassword:Executing')">{{translate('ChangePassword')}}</button><br />
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-CurrentLoggedInUser">
            <div class="border">
                <a href="" ng-click="$emit(uidl.qualifiedName + ':LogOut:Executing')">{{translate('LogOut')}}</a>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-ManagementConsole">
            <div class="border clearfix">
                <div class="layout">
                    WIDGET[{{uidl.widgetType}}]
                    <div ng-repeat="widget in uidl.statusBar.containedWidgets | reverse" class="layout" style="float:right">
                        <uidl-widget uidl="widget"></uidl-widget>
                    </div>
                </div>
                <uidl-user-alert-inline alert="userAlert"></uidl-user-alert-inline>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td width="350" style="vertical-align: top;">
                            <div class="content-example">
                                <span ng-repeat="item in uidl.mainMenu.items" ng-include="'uidl-element-template-ManagementConsole-menu-item'"></span>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <uidl-widget uidl="uidl.mainContent"></uidl-widget>
                        </td>
                    </tr>
                </table>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-ManagementConsole-menu-item">
            <a ng-class="{bold: item.level==0}" ng-show="item.notifications[1].subscribedBehaviorQualifiedNames.length" href="" ng-click="$emit(item.notifications[1].qualifiedName)">{{translate(item.text)}}</a>
            <span ng-class="{bold: item.level==0}" ng-hide="item.notifications[1].subscribedBehaviorQualifiedNames.length">{{translate(item.text)}}</span>
            <ul>
                <li ng-repeat="item in item.subItems" ng-include="'uidl-element-template-ManagementConsole-menu-item'"></li>
            </ul>
        </script>
        
        <script type="text/ng-template" id="uidl-element-template-Container">
            <uidl-widget ng-repeat="widget in uidl.containedWidgets" uidl="widget"></uidl-widget>
        </script>

        <script type="text/ng-template" id="uidl-element-template-LayoutHorizontal">
            <div class="border">
                <div class="layout">
                    WIDGET[{{uidl.widgetType}}]
                </div>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td style="vertical-align: top;" ng-repeat="widget in uidl.containedWidgets">
                            <uidl-widget uidl="widget"></uidl-widget>
                        </td>
                    </tr>
                </table>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-LayoutVertical">
            <div class="border">
                <div class="layout">
                    WIDGET[{{uidl.widgetType}}]
                </div>
                <div style="layout" ng-repeat="widget in uidl.containedWidgets">
                    <uidl-widget uidl="widget"></uidl-widget>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-LayoutFlow">
            <div class="border">
                <div class="layout">
                    WIDGET[{{uidl.widgetType}}]
                </div>
                <div style="layout" ng-repeat="widget in uidl.containedWidgets">
                    <uidl-widget uidl="widget"></uidl-widget>
                </div>
            </div>
        </script>
        
        <script type="text/ng-template" id="uidl-element-template-ScreenPartContainer">
            <div class="border">
                WIDGET[{{uidl.widgetType}}]
                <uidl-user-alert-inline alert="userAlert"></uidl-user-alert-inline>
                <uidl-screen-part ng-if="currentScreenPart" uidl="currentScreenPart"></uidl-screen-part>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-Text">
            <div class="content-example">
                {{translate(uidl.text)}}
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-Gauge">
            <div class="border">
                WIDGET[{{uidl.widgetType}}]
                <div class="layout">
                    <div class="layout bold" style="border-bottom:1px solid gray;">{{translate(uidl.text)}}</div>
                    <div class="layout bold"><span class="bold"><big><big>{{model.state.data[uidl.valueDataProperty]}}</big></big></span></div>
                    <div class="layout"><small><small>{{translate(uidl.label)}}&nbsp;</small></small></div>
                </div>
            </div>
        </script>
        
        <script type="text/ng-template" id="uidl-element-template-Chat">
            <div class="border">
                WIDGET[{{uidl.widgetType}}]
                <div class="content-example">
                    <div>Message 1 . . . </div>
                    <div>Message 2 . . . </div>
                    <div>Message 3 . . . </div>
                    <textarea></textarea>
                    <button>Send</button>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-Chart">
            <div class="border">
                WIDGET[{{uidl.widgetType}}]
                <div class="layout bold">{{translate(uidl.text)}}</div>
                <span class="bold"><big>Current Revenue:<big>{{model.state.data[uidl.currentValueDataProperty]}}</big></big></span>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-Report">
            WIDGET[{{uidl.widgetType}}&lt;{{uidl.entityName}}&gt;]
            <div class="content-example">
                <table class="data">
                    <thead>
                        <tr>
                            <th ng-repeat="property in displayProperties">{{translate(property.name)}}</th>
                      </tr>
                      <tr>
                        <th ng-repeat="property in displayProperties track by $index">
							<uidl-report-lookup entity-meta-type="getPropertyRelatedMetaType(property.name)" />
						  </th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="resultRow in resultSet">
                             <uidl-widget 
									uidl="uidl.rowTemplate" 
									parent-model="{row: resultRow, columns: displayProperties, onView: viewEntity}" 
									parent-uidl="uidl">
							    </uidl-widget>
                        </tr>
                    </tbody>
                </table>
                <div class="layout" ng-if="uiShowCrudForm">
                    <uidl-widget uidl="uidl.form" parent-model="model"></uidl-widget>
                </div>
            </div>
        </script>
		
		<script type="text/ng-template" id="uidl-element-template-report-lookup">
			<div>
				<select>
					<option ng-repeat="opt in resultSet">{{opt.Name}}</option>
				</select>
			</div>
		</script>
        
        <script type="text/ng-template" id="uidl-element-template-ReportDefaultRow">
             <td ng-repeat="column in parentModel.columns" ng-click="parentModel.onView(parentModel.row)">{{parentModel.row[column.name]}}</td>
        </script>

        <script type="text/ng-template" id="uidl-element-template-Dashboard">
            <div class="border">
                WIDGET[{{uidl.widgetType}}]
                <div class="content-example">
                    <table>
                        <tr>
                            <td ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Gauge'" style="vertical-align:top;">
                                <uidl-widget uidl="widget"></uidl-widget>
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Chart'" style="vertical-align:top;" colspan="4">
                                <uidl-widget uidl="widget"></uidl-widget>
                            </td>
                            <td ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Chat'" style="vertical-align:top;" colspan="2">
                                <uidl-widget uidl="widget"></uidl-widget>
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="widget in uidl.widgets" ng-if="widget.widgetType=='Report'" style="vertical-align:top;" colspan="6">
                                <uidl-widget uidl="widget"></uidl-widget>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-Crud">
            <div class="content-example">
                <div class="layout" ng-hide="uiShowCrudForm">
                    WIDGET[{{uidl.widgetType}}&lt;{{uidl.entityName}}&gt;]
                    <span ng-hide="resultSet">Query Running</span>
                    <span ng-show="resultSet">{{resultSet.length}} row(s)</span>
                    <span ng-show="resultSet"> | <a href="" ng-click="newEntity()">Add New</a> | <a href="" ng-click="refresh()">Refresh</a></span>
                </div>
                <table class="data" ng-hide="uiShowCrudForm">
                    <thead>
                        <tr>
                            <th ng-repeat="property in displayProperties">{{translate(property.name)}}</th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="resultRow in resultSet">
                            <td ng-repeat="property in displayProperties" ng-click="editEntity(resultRow)">
                                <uidl-grid-field property="property" value="resultRow[property.name]"></uidl-grid-field>
                            </td>
                            <td ng-class="{danger: resultRow.uiShowConfirmDelete}" style="width:130px;">
                                <a href="" ng-hide="resultRow.uiShowConfirmDelete" ng-click="resultRow.uiShowConfirmDelete=true"><b>Delete</b></a>
                                <span ng-show="resultRow.uiShowConfirmDelete" >
                                    Delete?&nbsp;<a href="" ng-click="deleteEntity(resultRow)">Yes</a>|<a href="" ng-click="resultRow.uiShowConfirmDelete=false">No</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="layout" ng-if="uiShowCrudForm">
                    <uidl-widget ng-if="uidl.form" uidl="uidl.form" parent-model="model"></uidl-widget>
                    <uidl-widget ng-if="uidl.formTypeSelector" uidl="uidl.formTypeSelector" parent-model="model"></uidl-widget>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-CrudForm">
            <div class="content-example">
                <div class="layout">
                    WIDGET[{{uidl.widgetType}}&lt;{{uidl.entityName}}&gt;]
                </div>
                <table class="dataForm clearfix">
                    <tbody>
                        <tr ng-repeat="field in plainFields">
                            <td>{{translate(field.propertyName)}}</td>
                            <td>
                                <uidl-form-field uidl="field" entity="parentModel.entity" />
                                <!--input type="text" ng-model="parentModel.entity[field.propertyName]" /-->
                            </td>
                        </tr>
                        <tr ng-if="tabSetFields.length">
                            <td colspan="2" class="tabSet">
                                <div ng-class="{tab: true, selected: $index==tabSetIndex}"                                     
                                    ng-repeat="field in tabSetFields"
                                    ng-click="selectTab($index)">
                                    {{translate(field.propertyName)}}
                                </div>
                                <div class="tabContent clearfix">
                                    {{field.propertyName}}
                                    <div class="Layout" ng-repeat="field in tabSetFields" ng-if="$index==tabSetIndex">
                                        <uidl-widget ng-if="field.nestedWidget" uidl="field.nestedWidget" parent-uidl="field" parent-model="parentModel"></uidl-widget>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="!uidl.isNested" class="layout">
                    <button class="dataForm" ng-click="saveChanges()">Save</button>
                    <button class="dataForm" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-TypeSelector">
            <div class="content-example">
                Type
                <select 
                    ng-options="s.restTypeName as s.text for s in uidl.selections" 
                    ng-model="selectedType">
                </select>
            </div>
            <div ng-repeat="selection in uidl.selections" class="Layout">
                <uidl-widget ng-if="selectedType==selection.restTypeName" uidl="selection.widget" parent-model="model"></uidl-widget>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-TypeSelectorWithTabs">
            <div class="content-example">
                Type
                <select 
                    ng-options="s.restTypeName as s.text for s in uidl.selections" 
                    ng-model="selectedType">
                </select>
            </div>
            <div ng-repeat="selection in uidl.selections" class="Layout">
                <uidl-widget ng-if="selectedType==selection.restTypeName" uidl="selection.widget" parent-model="model"></uidl-widget>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-GridField">
            <div class="layout">
                <span ng-if="property.kind!=='Relation'">{{value}}</span>
                <a ng-if="property.kind==='Relation'">Go to</a>
            </div>
        </script>
        
        <script type="text/ng-template" id="uidl-element-template-FormField">
            <div class="layout">
                <span ng-if="uidl.fieldType==='Label'">{{entity[uidl.propertyName]}}</span>
                <input ng-if="uidl.fieldType==='Edit'" type="text" ng-model="entity[uidl.propertyName]" />
                <select ng-if="uidl.fieldType==='Lookup'" ng-options="item as item[lookupTextProperty] for item in lookupResultSet track by item.Id" ng-model="entity[uidl.propertyName]"></select>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-FormField">
            <div class="layout">
                <span ng-if="uidl.fieldType==='Label'">{{entity[uidl.propertyName]}}</span>
                <input ng-if="uidl.fieldType==='Edit'" type="text" ng-model="entity[uidl.propertyName]" />
                <select ng-if="uidl.fieldType==='Lookup'" ng-options="item as item[lookupTextProperty] for item in lookupResultSet track by item.Id" ng-model="entity[uidl.propertyName]"></select>
            </div>
        </script>
        
        <!------ HARD CODED  -------->
        
        <script type="text/ng-template" id="uidl-element-template-AffiliateSignUpForm">
            <div class="border">
                WIDGET[{{uidl.text}}]
                <uidl-user-alert-inline alert="userAlert"></uidl-user-alert-inline>
                <div class="content-example">
                    <label style="display:inline-block;width:140px">{{translate('fullName')}}</label>
                    <input ng-model="model.data.fullName" type=text id="{{uidl.qualifiedName}}_fullName" /><br />

                    <label style="display:inline-block;width:140px">{{translate('emailAddress')}}</label>
                    <input ng-model="model.data.emailAddress" type=text id="{{uidl.qualifiedName}}_emailAddress" /><br />

                    <label style="display:inline-block;width:140px">{{translate('phoneNumber')}}</label>
                    <input ng-model="model.data.phoneNumber" type=text id="{{uidl.qualifiedName}}_phoneNumber" /><br />

                    <label style="display:inline-block;width:140px">&nbsp;</label>
                    <button ng-click="$emit(uidl.qualifiedName + ':SignUp:Executing')">{{translate('signUp')}}</button><br />
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="uidl-element-template-AffiliateAccountForm">
         </script>

        <script type="text/ng-template" id="uidl-element-template-CreaiveFarmReportRow">
			<td colspan="{{parentUidl.displayProperties.length}}">
				<button ng-click="">Get HTML</button>

				<div>
					CUSTOM TEMPLATE
				</div>
				
				{{parentModel.row['name']}}
			</td>
        </script>
		 
    </body>
    
</html>
