<Boot.Config xmlns="NWheels.Hosting" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  
  <Application>NWheels.Samples</Application>
  <Node>EntityService</Node>
  <Environment>Local</Environment>
  <EnvironmentType>Dev</EnvironmentType>
  
  <FrameworkModules>
    <Module>
      <Assembly>NWheels.Puzzle.OdataOwinWebapi.dll</Assembly>
    </Module>
  </FrameworkModules>
  
  <ApplicationModules>
    <Module>
      <Assembly>NWheels.Samples.RestService.dll</Assembly>
    </Module>
  </ApplicationModules>
  
  <ConfigFiles>
    <File>
      <Path>module.config</Path>
    </File>
    <File>
      <Path>my.config</Path>
      <IsOptional>true</IsOptional>
    </File>
  </ConfigFiles>
  
</Boot.Config>
