<?xml version="1.0" encoding="utf-8"?>
<CONFIGURATION>
    <ALWAYS comment="All configuration">

        <Framework.Logging
            level="Debug"
            threadLogPersistenceLevel="All"
            threadLogDbConnectionString="server=localhost;database=MyMusicDB_Logs"
            suppressDynamicArtifacts="false" 
        />

        <Framework.Database>
            <Contexts>
                <Context
                    name="MuiscDB"
                    contract="NWheels.Samples.MyMusicDB.Domain.IMusicDBContext, NWheels.Samples.MyMusicDB"
                    connectionString="server=localhost;database=MyMusicDB"
                    autoCreateDatabase="true" 
                    autoMigrateDatabase="true" 
                />
            </Contexts>
        </Framework.Database>

		<Framework.UI
            webContentRootPath="..\..\..\..\NWheels\Source\NWheels.Stacks.NancyFx\ClientSide\WebUI"
			enableContentBundling="false"
			enableContentCompression="false"
        />

	</ALWAYS>
</CONFIGURATION>
